.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed)
}

/* Basic Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
}


.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007BFF;
}

/* Mobile Styles */
.mobile-menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.mobile-menu {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 1rem;
}

.mobile-menu li {
    margin: 0.5rem 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        padding: 1rem;
        border: 1px solid #555;
        border-radius: 8px;
    }

    .mobile-menu-toggle {
        display: block;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
    }
}